body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; /* nesaccary for centering vertically */
    background-color: #04001a;
    box-sizing: border-box;
    margin: 0;
}

/* PC, laptop */
.container {
    display: flex;
    width:700px;
    height: 700px;
    max-width: 580px; /* perfect img width on 100% zoom */
    max-height: 660px; /* perfect img height on 100% zoom */
    background-color: #d9cebfcc;
    border-radius: 0.5rem;
}

.cover {
    flex: 1;
    background-color: #060D15;
    margin: 5px 2px 6px 5px;
    background-image: url('cover.jpg');
    background-size: cover;
    width: 100%;
    height: 98.5%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.start-game {
    display: none;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gameboard {
    flex: 3;
    background-color: #813921;
    margin: 5px 6px 3px 5px;
    border-radius: 0.5rem;
}

.pins {
    flex: 1;
    background-color: #806a4d;
    margin: 3px 6px 6px 5px;
    border-radius: 0.5rem;
}

/* smartphone */
@media (max-width: 500px) {
    .big-screen {
        background-color: #04001a;
    }

    .small-screen {
        background-color: #060D15;
    }

    .container {
        flex-direction: column;
        max-width: 310px;
        max-height: 700px;
    }

    .cover {
        width: 97%;
    }

    .start-game {
        display: flex;
        height: 98vh;
    }

    .game {
        flex: 3;
        display: none;
    }

    .pins {
        flex: 1;
    }
}
