.big-screen {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #04001a;
}

/* PC, laptop, tablet */
.container {
    display: flex;
    height: 100svh;
    max-width: 780px;
    max-height: 900px;
    width: 100%;
    margin: auto;
    background-color: #d9cebfcc;
    border-radius: 0.5rem;
}

.cover {
    flex: 1;
    background-color: #060D15;
    margin: 5px 2px 6px 5px;
    background-image: url('cover.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.start-game {
    display: none;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gameboard {
    flex: 3;
    background-color: #813921;
    margin: 5px 6px 3px 5px;
    border-radius: 0.5rem;
}

.pins {
    flex: 1;
    background-color: #806a4d;
    margin: 4px 6px 6px 5px;
    /* 3px on top to prevent margin collapse */
    border-radius: 0.5rem;
}

/* smartphone */
@media (max-width: 768px) {
    .big-screen {
        background-color: #d9cebfcc;
    }

    .small-screen {
        background-color: #060D15;
    }

    .container {
        flex-direction: column;
        border: solid 6px #c6b69f99;
        margin: auto;
        box-sizing: border-box;
    }

    .start-game {
        display: flex;
        height: 98vh;
    }

    .big-cover {
        display: none;
    }

    .game {
        flex: 3;
        display: none;
    }

    .pins {
        flex: 1;
        border-top: 4px solid #c6b69f99;
    }
}
